*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    color: purple;
}

header h1, time{
    padding: 20px;
    font-size: 20px; 
    border: 1px solid blue;
    font-family: 'Trebu4het MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

h1 {
    display: inline-block;
}

time {
    padding-right: 60px;
    float: right;
}

.wrapper {
    margin: 0 auto;
    max-width: 750px;
    padding: 30px 40px;
    text-align: left;
}

    section.col {
    display: inline-block;
}

.btn {
    background-color: purple;
    color: White;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

ol::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}
